footer {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  bottom:0;
  width:100%;
  background-color: #333333;
  padding: 30px;
  color: white;
  text-align: left;
  font-weight: 100;
}

.footer-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.footer-contact {
  line-height: 1.3;
}

.footer-links li {
  display: inline;
}

.footer-bottom {
  font-size: 98%;
}

footer img {
    width: 118px;
}
