@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');



html, body{
  margin:0px;
  padding: 0px;
  font-family: 'Quattrocento Sans', sans-serif
}
/* The side navigation menu */
.sidenav {
    text-transform: uppercase;
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 10000;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: #333333;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* The navigation menu links */
.sidenav a {
    margin: 20px 0 0px 0;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    width: 227px;
    text-align: -webkit-center;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    color: #BA000B;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: -13px;
  right: 32px;
  font-size: 38px;
  margin-left: 50px;
  width: initial;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
.sub-nav {
color: white;
font-size: 14px;
text-transform: uppercase;
font-weight: 600;
cursor: pointer;
transition: .3s;
text-decoration: none;
margin: 0 12px 0 12px;
}
.sub-nav a:hover {
  /*color: #e8d4d4;*/
  /* text-decoration: underline; */
  /*border-bottom: solid #C0212A .5px;
  height: 24px;*/
}
button.sub-nav {
  height: 46px;
  width: 80%;
  background: #BA000B;
  color: #FFFFFF;
  border: none;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -40%;
  border-radius: 3px;
  font-weight: 300;
  font-size: 14px;
}
.hamburger-icon {
  font-size: 24px;
  color: #545554;
  text-decoration: none;
  position: fixed;
  z-index: 1000;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: inherit;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-logo{
  display: flex;
  flex-direction: column;
  z-index: 1000;
  right: 29px;
  top: 9px;
  /*width: 100%;*/
  height: 67px;
}

.nav-logo a {
  background-color: white;
  color: #545554;
  width: 100%;
  position: fixed;
  /*padding-bottom: 3%;*/
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 20px;
  padding-left: 20px
}

.header-links{
  display: none;
}

@media only screen and (min-width: 1024px) {
  .logo {
    width: 220px;
    padding-bottom: 10px;
  }
  .hamburger-icon {
    display: none;
  }
  .header-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    color: #545554;
  }
  .header-links ul {
    display: inline-flex;
    padding: 20px;
    width: 72%;
    justify-content: space-around;
  }
  .header-links li {
    font-size: 22px;
  }
}
/*
.hidden{
  display: none;
}
.hiddenOnMobile{

}*/
