.home-text-content{
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;

}
.home-first{
  width: 77%;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


}
.text-red{
  color: #C90109;
}
.text-p{
  width: 80%;
  line-height:1.5;
  color: #545554;
  background-color: white;
}
.home-button{
  height: 14%;
  width: 63%;
  background: #C90109;
  color: #FFFFFF;
  border: none;
  left: 50%;
  border-radius: 3px;
  font-weight: 100;
  font-size: 12px;
}

.home-section-content{
}
.home-section{
  height: 64px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.home-section-content img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-section h2{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}
