.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
    display: flex;
}

.flex1 {
    flex: 1
}

.flex2 {
    flex: 2;
}

.flex-direction-columnn {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.jc-center {
    justify-content: center;
}

.jc-space-around {
    justify-content: space-around;
}

.ai-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.margin-auto {
    margin: auto;
}

.caps {
    text-transform: uppercase;
}

.fw100 {
    font-weight: 100;
}

.fw200 {
    font-weight: 200;
}

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.fw700 {
    font-weight: 700;
}

.fw800 {
    font-weight: 800;
}

.fw900 {
    font-weight: 900;
}
.home-text-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6%;
  padding-bottom: 6%;
  background-color: #fff;
}
.home-first{
  width: 77%;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


}
.text-red{
  color: #C90109;
}
.home-img {
  display: none;
}
.text-p{
  line-height: 1.5;
  color: #545554;
  background-color: white;
  font-weight: 200;
  letter-spacing: 1px;
  max-width: 500px;
}
.home-button{
  height: 36px;
  width: 209px;
  background: #C90109;
  color: #FFFFFF;
  border: none;
  left: 50%;
  border-radius: 3px;
  font-weight: 400;
  font-size: 13px;
}

.home-section-content{
}
.home-section{
  background-color: #333333;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* color: white; */
  cursor: pointer;

  height: 336px !important;
}
.home-section-content img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-section h2{
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
      padding:9px;
      color: #fff;
}

.pdf-logo{
  height: 65px;
}

.site-width{
  max-width: 1600px;
  margin: auto;
}
.max-width{
  max-width: 1200px;
  margin: auto;
}



#family-pic{
  background: url(./../../img/family/family-pic.jpg);
  height: 100%;
  width: 100%;
  background-size: 448px;
  background-position-y: -150px;
}
@media only screen and (min-width: 1024px) {
  .home-section-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .home-text-content {
    display: flex;
    flex-direction: row;
    padding-left: 4%;
    padding-top: inherit;
    padding-bottom: inherit;

  }
  .text-red {
    font-size: 30px;
  }
  .home-img {
    display: flex;
    /* width: 52%; */
    height: 400px;
  }
  .home-section {
    width: 33.3%;
    flex-direction: column;
    height: auto;
        border-bottom: none;
        /*border: solid white thin;*/
  }
  .home-section h2 {
    padding: 20px;
  }
}
