.ownership-content{
  padding-top: 13%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #F5F5F5	;
  padding-bottom: 11%;
}

.ownership-title {
  width: 89%;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  font-size: 20px;
  padding: 3% 0 3% 7.5%;
}

.ownership-text{
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  width: 100%;
}

h6.text-p{
  color: #BA000B;
  padding: 2% 7.5% 1% 7.5%;
}

h6.text-p li {
  padding: 0 0 20px 0;
}

ul.text-p{
  padding: 2% 7.5% 1% 7.5%;
}

.text-p{
  /*display: flex;
  justify-content: center;*/
  width: 89%;
  line-height: 1.5;
  padding: 2% 7.5% 1% 7.5%;
}
.ownership-image{
  width: 89%;
  background-color: white;
  align-self: center;
}

.image-ipad {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .ownership-content {
    max-height: 2418px;
    /*width: 1024px;*/
    overflow: hidden;
    padding-top: 8%;
  }
  .ownership-image {
    display: none;
  }
  .image-ipad {
    display: flex;
    background-color: white;
    width: 89%;
    align-self: center;
    padding-bottom: 21px;
  }
  .ownership-title {
    font-size: 28px;
  }
}
