<!DOCTYPE html>
<section class="ownership-content">
  <div class="desktop">
    <img src="img/baseball.png" class="ownership-image">
    <img src="img/baseball-ipad.png" class="image-ipad">
    <div class="about">
      <h1 class="ownership-title">Kory Wayment</h1>

      <p class="text-p">Kory was raised in Warren, Utah where he grew up on a dairy farm ran by his family. He attended Fremont High School, then later graduated with his degree from Salt Lake Community College.</p>

      <p class="text-p">In 2001 while attending college on a baseball scholarship Kory was drafted in the 23rd round by the Oakland A's to become a professional baseball player. While spending almost a decade traveling all over North America, working his way up through the minor leagues he developed a work ethic, drive and an appreciation for perseverance.</p>

      <p class="text-p">Once retiring from baseball in 2008 he jumped right into the real estate world and has had great success in selling, building and investing in many real estate ventures.</p>

      <p class="text-p">After a short career as a realtor he noticed the immense value for both an honest and knowledgeable home inspector to help educate home buyers of all types.</p>

      <p class="text-p">In the Fall of 2012 he founded High Mountain Home Inspections and has since been one of the most reputable, honest and fastest growing inspection companies in Northern Utah. Closing in on almost 5,000 home inspections he prides himself on treating home buyers with the upmost respect, showing patience, honestly and a genuine care for every home buyer.</p>

      <p class="text-p" style="padding-bottom: 50px; margin-bottom: 40px">Kory currently resides with his wife Witney, children Maura, Walt, and Nora on a small farm North of Brigham City where he raises beef cattle as a hobby and spends most of his time outside. </p>
    </div>
  </div>
  <div class="desktop">
    <img src="img/john.png" class="ownership-image">
    <img src="img/john-ipad.png" class="image-ipad">
    <div class="about">
      <h1 class="ownership-title">John Pilarczyk</h1>
      <p class="text-p">John has been in the construction industry for the past 18 years. There he has learned the ins and outs of every construction trade. John was a superintendent at the ripe age of 26 years old.</p>

      <p class="text-p">He built over 100 homes and 312 storage units. John learned the importance of interacting with homeowners, subcontractors, and city inspectors. 13 of those 18 years he specialized in the exterior side of homebuilding where he was regarded as one of the top installers in Northern Utah.</p>

      <p class="text-p" style="padding-bottom: 50px; margin-bottom: 20px">In John’s spare time he enjoys camping and ATVing with his family, but his passion is hunting with his boys Tanner and Landon while his wife and daughter Tenille and BrookLyn have mommy-daughter time. Honesty and integrity are his biggest traits and he would love to “Look Closer at Your Investment!”</p>
      <div class="ownership-content">

      <div class="contact-box" style="width: 609px;">
        <p>FOR ORDER & INQUIRIES PLEASE CALL:</p>
        <h3>801-699-7485</h3>
        <p>OR YOU CAN VISIT US AT:</p>
        <h3>HIGH MOUNTAIN HOME INSPECTIONS <br>
          OGDEN, UT 84404</h3>
        <p>OR EMAIL US AT:</p>
        <h3>highmountainhomes@gmail.com</h3>

      </div>
    </div>
    </div>
  </div>


</section>
