<!DOCTYPE html>

<div class="max-width">
    <section class="ownership-content" style="padding-top: inherit; padding-bottom: inherit;">
        <div class="desktop">
            <!-- <img src="img/kory/kory.JPG" alt=""> -->
            <div id="kory-team"></div>
            <!-- <img src="img/contact.jpg" class="ownership-image">
    <img src="img/contact-ipad.jpg" class="image-ipad"  > -->
            <div class="contact">
                <!-- <p class="text-p"> -->



                <form id="contactform" action="https://www.enformed.io/g5mjxvfj" method="POST"class='form'>


                    <label for="name" class="label">Your Name</label>
                    <input class="txt-area" type="text" name="name">

                    <label for="email" class="label">Email Address</label>
                    <input type="email" name="_replyto" class='txt-area'>

                    <label for="phone" class="label">Phone Number</label>
                    <input class="txt-area" type="number" name="name" class="txt-area">

                    <label for="message" class="label">Message</label>
                    <textarea name="message" class='txt-area'></textarea>

                    <!-- <input type="text-area" name="message" class="input" style="height: 75px;"> -->





                    <input type="submit" value="Send" class="contact-button">

                    <input type="hidden" name="_subject" value="Website contact" />
                    <input type="text" name="_gotcha" style="display:none" />

                </form>
                <!-- </p> -->
            </div>
        </div>
        <div class="contact-box">
            <p>FOR ORDER & INQUIRIES PLEASE CALL:</p>
            <h3>801-699-7485</h3>
            <p>OR YOU CAN VISIT US AT:</p>
            <h3>HIGH MOUNTAIN HOME INSPECTIONS
      OGDEN, UT 84404</h3>
            <p>OR EMAIL US AT:</p>
            <h3>highmountainhomes@gmail.com</h3>

        </div>
    </section>
</div>
