<!DOCTYPE html>

<div class="max-width">
<section class="ownership-content" style="padding-top: inherit; padding-bottom: inherit;">
  <div class="desktop">
  <!-- <img src="img/kory/kory.JPG" alt=""> -->
      <div id="kory-image"></div>
    <!-- <img src="img/contact.jpg" class="ownership-image">
    <img src="img/contact-ipad.jpg" class="image-ipad"  > -->
    <div class="contact">
      <!-- <p class="text-p"> -->
        <form action="email.php" class="form" method="post">
          <label for="name" class="label">Your Name</label>
          <!-- <input type="text" name="name" class="input"> -->
          <input rows="1" cols="50" name="name" class="txt-area" placeholder=""></input>

          <label for="email" class="label">Email Address</label>
          <!-- <input type="text" name="email" class="input"> -->
          <input rows="1" cols="50" name="email" class="txt-area" placeholder=""> </input>

          <label for="phone" class="label">Phone Number</label>
          <!-- <input type="text" name="phone" class="input"> -->
          <input rows="1" cols="50" name="phone" class="txt-area" placeholder=""></input>

          <label for="message" class="label">Message</label>
          <!-- <input type="text-area" name="message" class="input" style="height: 75px;"> -->
          <input rows="4" cols="50" name="message" class="txt-area" placeholder="..."></input>
          <button type="submit" name="button" class="contact-button">Submit</button>
        </form>
      <!-- </p> -->
    </div>
  </div>
  <div class="contact-box">
    <p>FOR ORDER & INQUIRIES PLEASE CALL:</p>
    <h3>801-699-7485</h3>
    <p>OR YOU CAN VISIT US AT:</p>
    <h3>HIGH MOUNTAIN HOME INSPECTIONS
      OGDEN, UT 84404</h3>
    <p>OR EMAIL US AT:</p>
    <h3>highmountainhomes@gmail.com</h3>

  </div>
</section>
</div>
