
<div  class="layout-2-column cf-component bg-white">
  <div class="container">
      <div class="column-wrapper">
          <div data-equalizer data-equalizer-mq="medium-up" class="row">
              <div
                  class="all column-1 large-6 medium-12  columns"
              >
                        <section data-equalizer-watch >
      <h1 class="color-red">Looking Closer at Your Investment</h1>
      <p class="max-width-500">Although the home inspection portion of your transaction is only one step to making a wise decision, it can play a BIG role in present and future costs associated with home ownership!</p>
      <button ui-sref="contact">SCHEDULE AN INSPECTION</button>

    </section>

              </div>
              <div
                  class="all column-2 large-6 medium-12 bg-1 hide-for-medium-down columns"
              >
                        <section  data-equalizer-watch >
    </section>

              </div>
          </div>
      </div>
  </div>
</div>


<div  class="layout-3-column cf-component grey-boxes padding-top-small padding-bottom-none">
  <div class="container">
      <div class="column-wrapper">
          <div data-equalizer class="row collapse">
              <div
                  class="all column-1 large-4 medium-4 small-12   columns"
              >
                        <section>
      <p class="text-center">Services</p>
      <img src="images/kitchen.jpg" alt="" />

    </section>

              </div>
              <div
                  class="all column-2 large-4 medium-4 small-12   columns"
              >
                        <section>
      <p class="text-center">About Us</p>
      <img src="images/kory-crew.jpg" alt="Kory Crew" />

    </section>

              </div>
              <div
                  class="all column-3 large-4 medium-4 small-12   columns"
              >
                        <section>
      <p class="text-center">Contact</p>
      <img src="images/fence.jpg" alt="" />

    </section>

              </div>
          </div>
      </div>
  </div>
</div>

