<section class="home-text-content">
  <div class="home-first">
    <h4 class="text-red">Looking Closer at Your Investment</h4>
    <p class="text-p" style="padding: 0">Although the home inspection portion of your transaction is only one step to making a wise decision, it can play a BIG role in present and future costs associated with home ownership! </p>
    <button type="button" name="button" class="home-button" ui-sref="contact">SCHEDULE AN INSPECTION</button>

  </div>
  <img src="img/home.png" class="home-img">
</section>

<section class="home-section-content">
  <div class="home-section" ui-sref="services">
    <h2>SERVICES</h2>
    <img src="img/services.jpg" ui-sref="services">
  </div>
  <div class="home-section" ui-sref="about">
    <h2>ABOUT US</h2>
    <img src="img/family.jpg" ui-sref="about">
  </div>
  <div class="home-section" ui-sref="contact">
    <h2>CONTACT</h2>
    <img src="img/kitchen.jpg" ui-sref="contact">
  </div>
</section>
