<!DOCTYPE html>

<div class="max-width">


<section class="ownership-content">
  <!-- <h1 class="ownership-title">Ownership</h1> -->
  <div class="desktop">
    <img src="img/ownership.png" class="ownership-image" style="height: auto;">
    <!-- <img src="img/ownership-ipad.png" class="image-ipad"> -->
    <div class="ownership-text">

      <h6 class="text-p">Exterior</h6>

        <ul class="text-p">
          <li>Secure wall cladding, trim.</li>
          <li>Paint all exterior wood.</li>
          <li>Monitor concrete for settlement</li>
        </ul>


      <h6 class="text-p">Roof</h6>

        <ul class="text-p">
          <li>Monitor shingles.</li>
          <li>Install and maintain gutter system.</li>
          <li>Secure fascia, soffit, trim.</li>
          <li>Direct water away from foundation and high traffic areas.</li>
        </ul>


      <h6 class="text-p">HVAC</h6>

          <ul class="text-p">
            <li>Cover A/C unit with canvas (breathable) cover during winter.</li>
            <li>Insulate exterior refrigerant lines.</li>
            <li>Clean filter around compression unit.</li>
            <li>Change air filter often</li>
            <li>Have "green sticker" service annually.</li>
            <li>Maintain condensate line.</li>
          </ul>


      <h6 class="text-p">Plumbing</h6>

        <ul class="text-p">
          <li>Get a water softener! (Contact us for more information.)</li>
          <li>Secure toilets.</li>
          <li>MONITOR for leaks. (Because they are inevitable)</li>
          <li>Drain water heater 1 time per year.</li>
        </ul>


      <h6 class="text-p">Electical</h6>

        <ul class="text-p">
          <li>Install cove plates.</li>
          <li>Install cove plates.</li>
          <li>Test GFCI's often.</li>
          <li>Label panel box clearly.</li>
        </ul>


      <h6 class="text-p">Misc.</h6>

        <ul class="text-p" style="margin-bottom: 7%">
          <li>Install ceiling cans.</li>
          <li>Vacuum often.</li>
          <li>Clean/Maintain your jetted tub.</li>
          <li style="margin-bottom: 10%">Update your insulation! (Contact us for more information.)</li>
        </ul>
    </div>
  </div>
  <div class="contact-box">
    <p>FOR ORDER & INQUIRIES PLEASE CALL:</p>
    <h3>801-699-7485</h3>
    <p>OR YOU CAN VISIT US AT:</p>
    <h3>HIGH MOUNTAIN HOME INSPECTIONS
      OGDEN, UT 84404</h3>
    <p>OR EMAIL US AT:</p>
    <h3>highmountainhomes@gmail.com</h3>

  </div>
</section>
</div>
