<!DOCTYPE html>
<section class="ownership-content">
  <!-- <h1 class="ownership-title">Ownership</h1> -->
  <img src="img/services.jpg" class="ownership-image" style="height: auto;">
  <img src="img/services-ipad.jpg" class="image-ipad">
  <div class="ownership-text">

    <h6 class="text-p">
      <ul>
        <li>Exterior Pre-Listing Home Inspection</li>
        <li>Infrared Imaging</li>
        <li>Radon Testing NRPP#107168RT</li>
        <li>Lead Base Paint Testing</li>
        <li>Asbestos Testing</li>
        <li>Mold/Air Quality Sampling(Spore traps)</li>
        <li>Main Sewer Line Scope/Camera</li>
        <li>Methamphetimine Testing</li>
        <li>Termite Inspections</li>
      </ul>
    </h6>
    <p class="text-p">
      Your report will contain many details from materials, structures and finishes. We include dozens of pictures along with model reference numbers, as well as recommendations and reasonings for repair items listed. We highly encourage you to be present at the end of the inspection for a final walk through to allow us to summarize our findings. We take pride in taking as much time as you need to gain a better understanding of your investment!

      Download the Investment Property Disclosure/Agreement here:
    </p>
  </div>
  <div class="ownership-text">
    <p class="text-p">Download the <a href="img/InvAgreementFinal.pdf" style="text-decoration: underline; color: #545554">Investment Property Disclosure/Agreement</a> here:</p><p class="text-p"><img src="img/acrobat.png"></p>
    <p class="text-p" style="padding-bottom: 50px; margin-bottom: 20px">If you are unable to view the document, download <a href="https://get.adobe.com/reader/" style="text-decoration: underline; color: #545554">Adobe Acrobat Reader</a></p>

  </div>

</section>
