<!DOCTYPE html>
<section class="ownership-content">
  <!-- <h1 class="ownership-title">Ownership</h1> -->
  <img src="img/services.jpg" class="ownership-image" style="height: auto;">
  <div class="ownership-text">

    <h6 class="text-p">
      Exterior Pre-Listing Home Inspection
      Infrared Imaging
      Radon Testing NRPP#107168RT
      Lead Base Paint Testing
      Asbestos Testing
      Mold/Air Quality Sampling(Spore traps)
      Main Sewer Line Scope/Camera
      Methamphetimine Testing
      Termite Inspections</h6>
    <p class="text-p">
      Your report will contain many details from materials, structures and finishes. We include dozens of pictures along with model reference numbers, as well as recommendations and reasonings for repair items listed. We highly encourage you to be present at the end of the inspection for a final walk through to allow us to summarize our findings. We take pride in taking as much time as you need to gain a better understanding of your investment!

      Download the Investment Property Disclosure/Agreement here:
    </p>
  </div>
  <div class="ownership-text">
    <p class="text-p">Download the <a href="img/InvAgreementFinal.pdf"><strong style="text-decoration: underline; color: #545554">Investment Property Disclosure/Agreement</strong></a> here:</p><p class="text-p"><img src="img/acrobat.png"></p>
    <p class="text-p">If you are unable to view the document, download <a href="https://get.adobe.com/reader/" style="text-decoration: underline; color: #545554">Adobe Acrobat Reader</a></p>

  </div>

</section>
