<!DOCTYPE html>
<div id="contents">
		<div>
			<div class="body" id="about">
				<div id="sidebar">
					<div class="body">
						<img src="img/baseball.jpg" alt="Img">
						<div class="contact">
							<p>
								For Order and Inquiries Please Call: <b>801-699-7485</b> Or you can visit us at: <b>High Mountain
								Home Inspections<br>
								Ogden, Utah 84404</b> Or Email us at: <b class="email"><a href="mailto:highmountainhomes@gmail.com">highmountainhomes@gmail.com</a></b>
						  </p>
						</div>
					</div>
				</div>
				<div id="main">
					<h1>About</h1>
					<p>
						As a former professional baseball player for over 9 years, it was my hard work, professionalism, and attention to detail that allowed me to separate myself from my competition. Now as a professional home inspector I strive to implement these same basic fundamentals into every home inspection that I perform.</p>

<p>Although the home inspection portion of your transaction is only one step to making a wise decision, it can play a BIG role in present and future costs associated with home ownership! </p>

<p>Owning real estate can be one of the best financial moves of your life, and as the owner of High Mountain Home Inspections I believe it is my job to help you maximize your investment by educating you on the major systems of your new home. My shared experience in buying, selling, renting, and building homes will help you prepare for owning your own home.
Thank you for letting us <strong><em>"Look Closer At Your Investment"!</em></strong> </p>
				</div>
			</div>
		</div>
	</div>
