<!DOCTYPE html>
<div id="contents">
	<div class="home-middle-section" >
		<div class="details">
			<div class="home-middle-cont">
				<h1>"Looking Closer<br>at Your Investment"</h1>
				<p>
					Although the home inspection portion of your transaction is only one step to making a wise decision, it can play a BIG role in present and future costs associated with home ownership!
				</p>

			</div>
		</div>
		<img src="img/services.jpg" alt="Img">
	</div>
		<div>
			<div class="body">

				<ul id="featured">
					<li>
						<h4><a ui-sref="about">About Us</a></h4>

						<div>
							<img src="img/family.jpg" alt="Img"> <a ui-sref="about"></a>
						</div>
						<div class="details">
					  </div>
					</li>
					<li class="bedroom">
						<h4><a ui-sref="services">Services</a></h4>

						<div>
							<img src="img/services.jpg" alt="Img"> <a ui-sref="services"></a>
						</div>
						<div class="details">
						</div>
					</li>
					<li class="kitchen">
						<h4><a ui-sref="contact">Contact</a></h4>

						<div>
							<img src="img/kitchen.jpg" alt="Img"> <a ui-sref="contact"></a>
						</div>
						<div class="details">

						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>
