<div id="contents">
		<div>
			<div class="body" id="about">
				<div id="sidebar">
					<div class="body">
						<img src="images/services.jpg" alt="Img">
						<div class="contact">
							<p>
								For Order and Inquiries Please Call: <b>801-699-7485</b> Or you can visit us at: <b>High Mountain
								Home Inspections<br>
								Ogden, Utah 84404</b> Or Email us at: <b class="email"><a href="mailto:highmountainhomes@gmail.com">highmountainhomes@gmail.com</a></b>
						  </p>
						</div>
					</div>
				</div>
				<div id="main">
					<h1>Services</h1>
					<p>
						Pre-Sale Home Inspection<br>
Home Buyers General Inspection<br>
Rental Property Inspection<br>
New Construction Inspection<br>
Radon Testing<br>
Methamphetamine Testing<br>
Mold Testing<br>
Infrared Imaging</p>

<p>Your report will contain many details from materials, structures and finishes. We include dozens of pictures along with model reference numbers, as well as recommendations and reasonings for repair items listed. We highly encourage you to be present at the end of the inspection for a final walk through to allow us to summarize our findings. We take pride in taking as much time as you need to gain a better understanding of your investment!</p>
<p><br>
  Download the Investment <a href="img/InvAgreementFinal.pdf">Property Disclosure/Agreement</a> here:</p>
<p><a href="images/InvAgreementFinal.pdf"><img src="img/acrobat.jpg" width="60" height="60" alt=""></a></p>
<p>If you are unable to view the document, download <br>
  <a href="http://get.adobe.com/reader/" target="_blank">Adobe Acrobat Reader</a>.</p>
				</div>
			</div>
		</div>
	</div>
