<!DOCTYPE html>
<section class="ownership-content">
  <h1 class="ownership-title">Ownership</h1>
  <img src="img/ownership.png" class="ownership-image"><br><br>
  <div class="ownership-text">

    <h6 class="text-red">Exterior</h6><br>
    <p class="text-p">
      Secure wall cladding, trim.<br>
      Paint all exterior wood.<br>
      Monitor concrete for settlement<br>
    </p><br>

    <h6 class="text-red">Roof</h6><br>
    <p class="text-p">
      Monitor shingles.<br>
      Install and maintain gutter system.<br>
      Secure fascia, soffit, trim.<br>
      Direct water away from foundation and high traffic areas.<br>
    </p><br>

    <h6 class="text-red">HVAC</h6><br>
      <p class="text-p">
        Cover A/C unit with canvas (breathable) cover during winter.<br>
        Insulate exterior refrigerant lines.<br>
        Clean filter around compression unit.<br>
        Change air filter often<br>
        Have "green sticker" service annually.<br>
        Maintain condensate line.<br>
      </p><br>

    <h6 class="text-red">Plumbing</h6><br>
    <p class="text-p">
      Get a water softener! (Contact us for more information.)<br>
      Secure toilets.<br>
      MONITOR for leaks. (Because they are inevitable)<br>
      Drain water heater 1 time per year.<br>
    </p><br>

    <h6 class="text-red">Electical</h6><br>
    <p class="text-p">
      Install cove plates.<br>
      Fix ceiling fans.<br>
      Test GFCI's often.<br>
      Label panel box clearly.<br>
    </p><br>

    <h6 class="text-red">Misc.</h6><br>
    <p class="text-p">
      Install ceiling cans.<br>
      Vacuum often.<br>
      Clean/Maintain your jetted tub.<br>
      Update your insulation! (Contact us for more information.)<br>
    </p>

  </div>

</section>
