.home-text-content{
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.home-first{
  width: 322px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


}
.text-red{
  color: #BA000B;
}
.text-p{
  width: 80%;
  line-height:1.5;
  color: #545554;
}
.home-button{
  height: 46px;
  width: 80%;
  background: #BA000B;
  color: #FFFFFF;
  border: none;
  left: 50%;
  border-radius: 3px;
  font-weight: 300;
  font-size: 14px;
}

.home-section-content{
  height: 840px;
}
.home-section{
  height: 64px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.home-section-content img{
  width: 100%
}
